{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Введение-2.
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    В данном эксперименте вы вместе с другими абитуриентами (всего <b>16</b>) будете принимать решение о выборе
                    университета для дальнейшего обучения.
                    </br>
                    Эксперимент пройдет в <b>15</b> раундов в результате каждого из которых вы будете зачислены в какой-то университет. Университеты отличаются по уровню средного дохода выпускника, который и будет вам выплачен в конце эксперимента.
                    </br>
                    Абитуриенты отличаются способностями и получают разный доход после выпуска из университета. Всего будет 2 типа абитуриентов:
                    <ul>
                <li>
                    <b>4</b> студента <b>типа 1</b> 
                    </li><li>
                      <b>12</b> студентов <b>типа 2</b>
                    </li>
                  </br>
                       С точки зрения игры абитуренты больше ничем не отличаются
                </li>
               <li class="list-group-item">
                На выбор вам будет предоставлено два университета: <b>A</b> и <b>B</b>. Про них вам будет предоставлена следующая инфомарция:
                 <ul>
                <li>
                  Ваш будущий доход после выпуска из университета A равен <b>100</b> очкам вне зависимости от типа студента
                  </li>
                <li>
                  Ваш будущий доход после выпуска из университета B равен <b>5</b> очкам, если вы студент типа 1. Доход студентов типа 2 вам укажут во время раунда
                  </li>
                  <li>
                  Если вы никуда не поступили, ваш доход будет равен <b>0</b>
                  </li>
                  <li>
                  В каждом раунде вам будет известно количество мест в университетах
                </li>
                  </ul>


                </li>
                <li class="list-group-item">
                    Будьте внимательны. От раунда к раунду будут меняться как параметры, так и правила игры.
                </li>
                <li class="list-group-item font-weight-bold text-center">
                    Есть ли у Вас вопросы?

                </li>
            </ul>
        </div>
    </div>
    <div class="my-3">

        {% next_button %}
    </div>

{% endblock %}
