{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Часть BM2:  (Раунд {{ player.round_number }} из
    {{ Constants.num_rounds }})
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    В ближайшие <b>5</b> раундов у вас будут спрашивать, <i>ценнее ли для вас школа B относительно других участников</i>. В случае положительного ответа ваше заявление отправят в <b>B</b>, иначе в <b>A</b>.
                 </br>
                   В случае, если в каком-то из этих двух университетов заявлений больше, чем мест,
                   то места между заявками в этот университет распределяются случайным образом.
                   </br>
                   Если в каком-то из этих двух университетов остались свободные места,
                   то они заполняются случайным образом из тех, кому не достались места на первом этапе.
                 </br>
                   Оставшиеся участники не попадают ни в один из двух университетов.
                </li>
                <li class="list-group-item">
                  По окончании 5 раундов Вам будет показана сводная таблица результатов, в которой будет разыгран по одному вопросу из каждого раунда. Вам скажут, в какой университет вас приняли и какой выигрыш вы получили.
                </li>
                <li class="list-group-item font-weight-bold text-center">
                    Есть ли у Вас вопросы?

                </li>
            </ul>
        </div>
    </div>
{% formfields %}
    <div class="my-3">

        {% next_button %}
    </div>

{% endblock %}